@page "/"

<h1>Rock, Paper, Scizors</h1>
<button>Reset</button>

<div style="display: flex; justify-content: center; margin-bottom: 20px">
	<img src="paper.jpg" class="imagen" />
</div>

<div style="display: flex; justify-content: space-around">
	<img src="paper.jpg" class="image image-selectable" />
	<img src="scizors.jpg" class="image image-selectable" />
	<img src="rock.jpg" class="image image-selectable" />
</div>